<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/lightbox.css">
	<title>Galería Barista</title>
</head>
<body>
		<header>
			
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">622 222 222</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-mug-hot"></i>
						<h1 class="logo"><a href="/">Baristas</a></h1> 
					</div>

					<div class="container-user">
						<i class="fa-solid fa-user"></i>
						<i class="fa-solid fa-basket-shopping"></i>
						<div class="content-shopping-cart">
							<span class="text">Carrito</span>
							<span class="number">(0)</span>
						</div>
					</div>
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>

					<ul class="menu"> 
            <li><a href="/index.html">Inicio</a></li>
					  <li><a href="galeria.html" class="active">Galeria</a></li>
					  <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
					</ul>
				
					<form class="search-form">
						<input type="search" placeholder="Buscar...">
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>

				</nav>	
			</div>
		</header>


			<div class="container-gallery">

				<h3>Galería de Imágenes de Nuestros Productos de Café</h3>

				<p>Bienvenidos a la galería de Café Baristas, donde la pasión por el café se refleja en cada imagen. Aquí podrás descubrir la variedad de productos que ofrecemos, todos elaborados con dedicación y los mejores ingredientes.¡Visítanos y Disfruta!<br>
         Te invitamos a que vengas a Café Baristas y experimentes la calidad de nuestros productos. Esperamos que esta galería te inspire a probar nuestras delicias. ¡Te esperamos con una taza caliente!
				</p>

				<a href="/imagenes/lightbox/lightbox1.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox1.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox2.jpg" data-lightbox ="models" data-title="lightbox2">
					<img src="/imagenes/lightbox/lightbox2.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox3.jpg" data-lightbox ="models" data-title="lightbox3">
					<img src="/imagenes/lightbox/lightbox3.jpg" alt=""></a>
				
				<a href="/imagenes/lightbox/lightbox4.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox4.jpg" alt=""></a>
				
				<a href="/imagenes/lightbox/lightbox5.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox5.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox6.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox6.jpg" alt=""></a>
	
				<a href="/imagenes/lightbox/lightbox7.jpg" data-lightbox ="models" data-title="lightbox1">
				<img src="/imagenes/lightbox/lightbox3.jpg" alt=""></a>
	
				<a href="/imagenes/lightbox/lightbox7.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox7.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox8.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox8.jpg" alt=""></a>
	
				<a href="/imagenes/lightbox/lightbox9.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox9.jpg" alt=""></a>
				
				<a href="/imagenes/lightbox/lightbox10.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox10.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox11.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox11.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox12.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox12.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox13.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox13.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox14.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox14.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox15.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox15.jpg" alt=""></a>
				
				<a href="/imagenes/lightbox/lightbox16.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox16.jpg" alt=""></a>

				<a href="/imagenes/lightbox/lightbox17.jpg" data-lightbox ="models" data-title="lightbox1">
					<img src="/imagenes/lightbox/lightbox17.jpg" alt=""></a>
			</div>
				
		

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
								Barista, Almería, España
							</li>
							<li>Teléfono: 622 222 222</li>
							<li>EmaiL: baristas@gmail.com</li>
						</ul>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Acerca de Nosotros</a></li>
							<li><a href="#">Información Delivery</a></li>
							<li><a href="#">Politicas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
							<li><a href="#">Contactános</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>

						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Historial de ordenes</a></li>
							<li><a href="#">Lista de deseos</a></li>
							<li><a href="#">Boletín</a></li>
							<li><a href="#">Reembolsos</a></li>
						</ul>
					</div>

					<div class="newsletter">
						<p class="title-footer">Boletín informativo</p>

						<div class="content">
							<p>
								Suscríbete a nuestros boletines ahora y mantente al
								día con nuevas colecciones y ofertas exclusivas.
							</p>
							<input type="email" placeholder="Ingresa el correo aquí...">
							<button>Suscríbete</button>
						</div>
					</div>
				</div>

				<div class="copyright">
					<p>
						Desarrollado por Programación para el mundo &copy; 2025
					</p>

					<img src="/imagenes/payment.png" alt="Pagos">
				</div>
			</div>
		</footer>

		<script src="https://kit.fontawesome.com/81581fb069.js"	crossorigin="anonymous"></script>
		<script src="/js/javascript.js"></script>  
		<script src="/js/lightbox-plus-jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>