<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Presupuesto</title>
</head>
<body>
    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Soporte al cliente</span>
                        <span class="number">622 222 222</span>
                    </div>
                </div>

                <div class="container-logo">
                    <i class="fa-solid fa-mug-hot"></i>
                    <h1 class="logo"><a href="/">Baristas</a></h1> 
                </div>

                <div class="container-user">
                    <i class="fa-solid fa-user"></i>
                    <i class="fa-solid fa-basket-shopping"></i>
                    <div class="content-shopping-cart">
                        <span class="text">Carrito</span>
                        <span class="number">(0)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>
                <ul class="menu"> 
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="galeria.html">Galeria</a></li>
                    <li><a href="presupuesto.html" class="active">Presupuesto</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
                <form class="search-form">
                    <input type="search" placeholder="Buscar...">
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>    
        </div>
    </header>

    <main>
        <form id="formulario" method="post" action="enviar.php">
            <fieldset>
                <legend>Datos</legend>
                <div class="form-control">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Escribe su nombre" required>
                    <small>Error mensaje</small>
                </div>

                <div class="form-control">
                    <label for="apellido">Apellidos</label>
                    <input type="text" id="apellido" name="apellidos" placeholder="Escribe su apellidos" required>
                    <small>Error mensaje</small>
                </div>

                <div class="form-control">
                    <label for="telefono">Teléfono de Contacto</label>
                    <input type="text" id="telefono" name="telefono" placeholder="Escribe su teléfono" required>
                    <small>Error mensaje</small>
                </div>

                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="Escribe su correo electrónico" required>
                    <small>Error mensaje</small>
                </div>
            </fieldset>

            <fieldset>
                <legend>Presupuesto</legend>
                <label for="seleccion-producto">Selecciona un producto</label>
                <select name="seleccion-producto" id="seleccion-producto">
                    <option value="">Selecciona un producto</option>
                    <option value="Cafe Irish:4.60">Cafe Irish - 4.60€</option>
                    <option value="Cafe Ingles:5.70">Cafe Ingles - 5.70€</option>
                    <option value="Cafe Australiano:3.20">Cafe Australiano - 3.20€</option>
                    <option value="Cafe Helado:5.60">Cafe Helado - 5.60€</option>
                    <option value="Cafe Viena:3.85">Cafe Viena - 3.85€</option>
                    <option value="Cafe Liqueurs:5.60">Cafe Liqueurs - 5.60€</option>
                </select>
                <button type="button" id="añadir-al-carrito">Añadir al carrito</button>

                <div class="extras">
                    <label>
                        <input type="checkbox" class="checkbox-extra" value="Embalaje especial:2">
                        Embalaje especial 2€
                    </label>

                    <label>
                        <input type="checkbox" class="checkbox-extra" value="Tarjeta regalo:5">
                        Tarjeta regalo 5€
                    </label>

                    <label>
                        <input type="checkbox" class="checkbox-extra" value="Entrega rápida:10">
                        Entrega rápida 10€
                    </label>
                </div>

                <div class="carrito" id="contenedor-carrito">
                    <h2>Carrito</h2>
                    <div id="articulos-carrito"></div>
                </div>

                <label for="plazo">Indica el número de meses para recibir el producto:</label>
                <input type="number" id="plazo" name="plazo" min="1" placeholder="Número de meses">

                <p class="total" id="total-final">Total final 0€</p>
            </fieldset>

            <fieldset>
                <legend>Aceptación de condiciones y envío de presupuesto</legend>
                <label>
                    <input type="checkbox" id="privacidad" name="privacidad" required>
                    He leído la política de privacidad
                </label>
            </fieldset>

            <div>
                <input type="submit" id="enviar" value="Enviar">
                <input type="reset" id="borrar" value="Borrar">
            </div>
        </form>
    </main>

  <footer>
  <div class="footer">

    <div class="footer-row">
      <div class="footer-content">
        <h3>Contacto</h3>
        <p>Barista, Almería, España</p>
        <p>Teléfono: 622 222 222</p>
        <p>Email: Barista@gmail.com</p>
      </div>
      <div class="footer-content">
        <h3>Servicios</h3>
        <ul class="list">
          <li><a href="">Pedidos Internacionales</a></li>
          <li><a href="">Contrareembolso</a></li>
          <li><a href="">Soporto 24/7</a></li>
        </ul>
      </div>
    </div>
     
<div class="footer-content">
  <h3>Síguenos</h3>
  <ul class="social-icons-list">
    <li>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/" target="_blank" rel="noopener">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/" target="_blank" rel="noopener">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</div>
    <div class="bottom-bar">
      <p>&copy; 2025 copyright barista</p>
    </div>
  </div>
</footer>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
    <script src="../js/presupuesto.js"></script>  
</body>
</html>